
@import url('https://fonts.googleapis.com/css2?family=Roboto');

/* .tab{
    background: #EEEEEE;
   
    margin: 14px 10px;
    
} */














 /* .headerdiv{
    background: #EEEEEE;
    border-radius: 5px 5px 0px 0px;
    margin: 14px 10px;
    display:flex;
    align-items: center;
}
.labelheader{
    font-family: 'Roboto';
    width:30%;
    padding:1rem;
    align-items: center;
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 30px;



    border-right: 2px solid #D1D1D1;
    background: linear-gradient(92.17deg, #0C6A9E 6.58%, #018C70 80.12%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
   
}

.labelheader1{
    font-family: 'Roboto';
    width:30%;
    padding:1rem;
    align-items: center;
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 30px;
    border-bottom: 2px solid #D1D1D1;
    border-right: 2px solid #D1D1D1;
    background: #969696;
  
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
   
}
.labelheader2{
    font-family: 'Roboto';
    width:30%;
    padding:1rem;
    align-items: center;
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 30px;
    border-bottom: 2px solid #D1D1D1;
  
    background: #969696;
  
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  
}
  */

