@import url('https://fonts.googleapis.com/css2?family=Roboto');

.labeledit{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 30px;
    margin-left: 6rem;
    /* margin-left: 8.5rem; */
    color: #0C6A9E;
    }
.selected{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 30px;
    /* margin-left: 4rem; */
    color: #018C70;
}

.notselected{

    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 30px;
 /* margin-left: 4rem; */

color: #EC5D5D;
}
.arrow{
height:10px;
width:10px ;
}
.number{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 13px;
    line-height: 30px;
    
    color: #494949;
}